[Desktop Entry]
Type=Application
Exec=/home/meher/.config/conky/Botein/start.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_IN]=conky
Name=conky
Comment[en_IN]=
Comment=
